#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_clean:

override_dh_auto_build:

override_dh_install:
	dh_install

override_dh_installinit-indep:

override_dh_fixperms-indep:
	dh_fixperms

# vim:set noet ai sts=8 sw=8 tw=0:
